src/main/resources/sum.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/soapws"
           xmlns="http://example.com/soapws"
           elementFormDefault="qualified">

    <xs:element name="AddRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="num1" type="xs:int"/>
                <xs:element name="num2" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AddResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>